# Flutter project inside flutter_app/base

flutter_app/base/build/
flutter_app/base/.dart_tool/
flutter_app/base/.pub-cache/
flutter_app/base/.packages

# Android build files
flutter_app/base/android/.gradle/
flutter_app/base/android/.idea/
flutter_app/base/android/local.properties

# iOS build files
flutter_app/base/ios/Pods/
flutter_app/base/ios/Flutter/.last_build_id

# Linux/MacOS/Windows build outputs
flutter_app/base/linux/flutter/ephemeral/
flutter_app/base/macos/Flutter/ephemeral/
flutter_app/base/windows/flutter/ephemeral/

# VSCode
.vscode/

# Misc
*.log
